.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px;
}
.header__menu {
  width: 100%;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  font-weight: normal;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.address {
  max-width: 265px;
}

.header__address {
  font-size: 18px;
  font-weight: normal;
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 757px;
  padding-bottom: 50px;
  text-align: center;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding-top: 165px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30%;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.18em;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.cover__description-text {
  flex: 1;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: justify;
  text-transform: uppercase;
  word-spacing: 0.2em;
}

.bet-button {
  position: relative;
  z-index: 2;
  width: 256px;
  border: 1px solid white;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bet-button:hover {
  color: black;
  background-color: #fff;
}

.lots {
  margin-bottom: 120px;
}

.lots__heading {
  margin: 180px auto 27px 64px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  padding-left: 25px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay .card__overlay {
  position: absolute;
  z-index: 0;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
}

.lots__look-more-link {
  margin-left: 64px;
}

.about {
  display: grid;
  width: 1052px;
  height: 595px;
  grid-template-columns: 334px auto;
  padding-left: 47px;
  margin-bottom: 180px;
}

.about__logo{
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  place-self: start center;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  grid-column: 2/3;
}

.about__title {
  margin-top: 136px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  margin-top: 100px;
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 180px;
  padding: 0 50px;
}

.footer_address {
  justify-self: start;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-list-item {
  max-width: 48px;
  max-height: 48px;

}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}
